.font {
  font-family: 'Source Code Pro', ;
}

.padded {
  padding: 15px !important; // fix this
}

.console {
  background-color: rgba(0, 0, 0, .7);
  color: green;
}

.well {
  border: none !important; // fix this
}

.bgimg {
  background-image: url('../img/kali.png');
  background-size: cover;
}
